body{
    margin: 0;
}

.main_page{
    position: relative;
    width: 100%;
    display: flex;
}

#main_img{
    width: 100%;
}

.main_page nav, .main_buttons, .social_media{
    position: absolute;
}

.main_page nav{
    width: 100vw;
    margin-left: 40%;
    display: flex; 
    position: absolute;
    list-style: none;
}

.main_page nav ul{
    width: 100%;
    display: flex;
}

.main_page nav ul li{
    margin: 0 5vw 0;
    text-wrap: nowrap;
    list-style: none;
}

