body{
    margin: 0;
}

.main_page{
    position: relative;
    width: 100%;
    display: flex;
}

#main_img{
    width: 100%;
}

.main_page nav, .main_buttons, .social_media{
    position: absolute;
}

.main_page nav{
    display: flex;
    position: absolute;
    list-style: none;
    font-size: 2vh;
    color: white;
    text-shadow: black 2px 2px 1px;
    top: 2%;
    right: 25%;
}

.main_page nav ul{
    display: flex;
    width: 80%;
    padding: 0;
}

.main_page nav ul li{
    margin: 0 25% 0;
    text-wrap: nowrap;
    list-style: none;
}

.main_buttons{
    margin-top: 12%;
    margin-right: 20%;
    width: 90%;
    margin-left: 5%;
}

.main_buttons h2{
    color: #BF8450;
    /* font-size: 128px; */
    font-size: 14vh;
    text-shadow: black 3px 2px 1px;
    width: 100%;
    margin-bottom: 3%;
}

.main_buttons ul{
    display: flex;
    padding: 0;
    margin-right: 60%;
}

.main_buttons ul li{
    list-style: none;
    width: 100%;
}

.main_buttons ul li a{
    text-decoration: none;
    border-radius: 6% 5%;
    border: 1px solid #265902;
    color: white;
    /* font-size: 56px; */
    font-size: 4vh;
    background:#265902;
    padding: 10px;
}

ul.social_media{
    margin-top: 2%;
    width: 100%;
    display: flex;
    padding: 0;
    margin-right: 0;
}

ul.social_media li{
    list-style: none;
    font-size: 4vh;
    color: white;
    text-shadow: black 2px 2px 1px;
    width: 16%;
}

a{
    color:inherit;
    text-decoration: none;
}
.about_us{
    display: flex;
}

.about_us img{
    width: 55%;
    height: 1000px;
}

.about_us > div{
    padding: 21% 10% 0;
}

.about_us div h1{
    font-size: 4vh;
    color: #77868C;
}

.about_us div p{
    font-size: 2vh;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    padding-left: 9%;
    padding-top: 8%;
    width: 90vw;
    background-color: #77868C;
}
 
.gallery div{
    flex: 25%;
    max-width: 25%;
    margin: 0 2%;
}

.gallery div img{
    margin: 5% 0;
    vertical-align: middle;
    height: 28%;
    width: 100%;
}

footer{
    display: flex;
    background-color: #092601;
    color: white;
}

footer > div{
    flex: 40%;
    flex-wrap: wrap;
    padding: 2%;
    text-align: center;
}

footer div span{
    margin-top: 10px;
}

.menu{
    padding-bottom: 3%;
    background-color: #BF3604;
    color: white;
    text-shadow: black 2px 2px 2px;
}

.menu h1{
    font-size: 10vh;
    padding: 1% 5%;
    margin: 0;
}

.menu h2{
    font-size: 5vh;
    padding-left: 5%;
}

.app, .noodles, .special, .drinks{
    display: flex;
    padding-left: 5%;
}

.menu section div{
    display: flex;
    padding-left: 5%;
}

.menu section div h3{
    flex: 50%;
}

nav#top_menu{
    background-color:#77868C;
    height: 6vh;
}

nav#top_menu ul{
    display: flex;
    margin: 0 0 0 55%;
    padding: 1% 0;
}

nav#top_menu ul li{
    flex: 20%;
    list-style: none;
    font-size: 2vh;
    color: white;
    text-shadow: black 2px 2px 1px;
}

